{% extends 'accounts/basedashboard.html' %}
{% block content %}
{% load crispy_forms_tags %}

            <div class="content-wrapper" style="min-height: 2836px;">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                  <div class="container-fluid">
                    <div class="row mb-2">
                      <div class="col-sm-6">
                        <h5>Assets list , Total : <b class=" btn btn-info badge badge-pill">R {{ total_asset }}</b></h5>                      
                      </div>
                      <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                          <li class="breadcrumb-item"><a href="#">Assets List </a></li>
                          <li class="breadcrumb-item active">listings </li>                        
                        </ol>
                      </div>
                    </div>
                  </div><!-- /.container-fluid -->
                </section>           
                <!-- Main content -->
                <section class="content">           
                  <!-- Default box -->
                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title">
                      </h3>
            <a class="btn btn-primary" href="{% url 'add_asset' %}"> <span class="fa fa-plus"></span> Add Asset </a>                           
            <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                          <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                          <i class="fas fa-times"></i>
                        </button>
                      </div>
                    </div>
                    <div class="card-body">
                      {% for x in messages %}
                      <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong></strong> {{ x }}.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      {% endfor %}
                        <form class="card" style="padding: 10px;" action="" method="GET">
                            <div class="row">
                                <div class="col-md-3">
                                    {{ form.form.asset_number }}
                                </div>
                                <div class="col-md-3">
                                  {{ form.form.asset_name }}
                                </div>
                                <div class="col-md-3">
                                  {{ form.form.number_of_assets }}
                                </div>
                                <div class="col-md-1">
                                    {{ form.form.asset_value }}
                                </div>
                                <div class="col-md-1">
                                    {{ form.form.acquired_through }}
                                </div>                               
                                <div class="col-md-1">
                                    {{ form.form.date_acqured }}
                                </div>
                                <div class="col-md-1">
                                    {{ form.form.date_added }}
                                </div>                             
                                <div class="col-md-1">
                                    <br>
                                </div>
                            </div>
                        </form> 
                    
<table class="table table-sm table-striped table-hover table-responsive-lg " style="width: 100%; font-size: 12px;">
    <tr>
      <th><h5>Print</h5> <span class="fa fa-copy"></span></th>
      <th><h5></h5> <span class=""></span></th>

        <th><h5>Asset Number</h5></th>
        <th><h5>Asset Name</h5></th>
        <th><h5>Quantity</h5></th>
        <th><h5>Asset Value</h5></th>
        <th><h5>Acquired Through</h5></th>
        <th><h5>Date Acqured</h5></th>
        <th><h5>Date Added</h5></th>
    </tr>
    {% for x in school_assets %}  
    <tr>
      <td><a href="#"><h5> Print</h5> </a></td>
        <td> 
        </td>
        <td><h5>{{x.asset_number}}</h5></td>
        <td><h5>{{x.asset_name}}</h5></td>
        <td><h5>{{x.number_of_assets}}</h5></td>
        <td><h5>R {{x.asset_value}}</h5></td>
        <td><h5>{{ x.acquired_through }}</h5></td>
        <td><h5>{{x.date_acqured}}</h5></td>
        <td><h5>{{x.date_added}}</h5></td>           
    </tr>
    {% endfor %}
</table>
                    <!-- /.card-footer-->
                  </div>
                  <!-- /.card -->
            
                </section>
                <!-- /.content -->
 <style>
                  .asteriskField
                  {
                  content:'*';
                  color:red;
                  padding:10px;
                  font-size:14px;
              }
 </style>
{% endblock %}






